.textField {
    width: 100%;

    & div {
        & input {
            color: white !important;
        }

        & textarea{
            color: white !important;
        }

        & fieldset {
            border-color: white;
        }

        :hover fieldset{
            border-color: red !important;
        }
    }
}
